.container{
    width: 90%;
    min-height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    position: relative;
}

.user_card{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: background-color .3s, scale .3s;
    padding: 10px;

    &:hover{
        background-color: var(--hover-color);
        scale: 1.05;
    }

    & h3{
        font-size: 20px;
    }
}

.user_info_container{
    max-width: 50%;
    max-height: 60%;
    position: absolute;
    box-shadow: 0 0 5px gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    font-size: 40px;
    padding: 30px;

    & button{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
        transition: scale .3s;
        border-radius: 50px;
        position: absolute;
        padding: 3px;
        right: 5px;

        &:hover{
            scale: 1.1;
        }
    }

    & .close_button{
        top: 5px;
    }

    & .delete_button{
        bottom: 5px;
    }
}